

@media screen and (min-width: 320px) and (max-width: 480px) {
    .section-gray-light {
        flex-direction: column;
        padding: 10px 0 5px 0;
        &__vertical {
            margin: 10px 0 0 0;
            flex-direction: row;
            max-width: 492px;
        }
        &__little {
            margin: 0;
            &:last-child { 
                margin-left: 10px; 
            }
        }
    }
    .section-gray-dark{
        padding: 5px 0 10px 0;
        order: 1;
        &__content {
            padding: 10px;
            &_big {
                padding: 20px 20px 2.5px 10px;
            }
        }
    } 
    .section-orange {
        order: 2;
        flex-direction: column;
        padding: 0 0 10px 0;
        &__horizontal {
            order: 0;
        }
        &__vertical {
            order: 1;
            flex-direction: row;
            margin-top: 10px;
            max-width: 492px;
        }
        &__little {
            margin: 0;
            &:last-child { 
                margin-left: 10px; 
            }
        }
    }  
}

@media screen and (max-width: 480px) {
    .section-green_hidden {
      visibility: hidden;
      display: none;
      position: absolute;
    }
  }

@media screen and (min-width: 600px) {
    .section-gray-dark__content_scroll {    
        overflow: visible;
        &::-webkit-scrollbar {
            width: 17px;
        }   
        &::-webkit-scrollbar-track {
            background-color: $gray;
        }       
        &::-webkit-scrollbar-thumb {
            background-color: $orange;
        }
    }

    .section-green__info_scroll {
        overflow: visible;
        &::-webkit-scrollbar {
            width: 17px;
        }   
        &::-webkit-scrollbar-track {
            background-color: $gray;
        }       
        &::-webkit-scrollbar-thumb {
            background-color: $orange;
        } 
    }
}


  