// main-colors

$gray:         #C4C4C4;
$gray-dark:    #A2A9B7;
$gray-light:   #E8EBED;
$blue:         #90BCE8;
$yellow:       #FEBF26;
$green:        #E3EBD3;
$orange:       #FFAA87;
$red:          #F55E62;
$violet:       #C7ABD4;

// font-colors

$black:        #000000;
$white:        #FFFFFF;