.section-gray-dark {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 12.5px 5px 12.5px;
    &__block {
        display: flex;
        width: 492px;
        &_vertical {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }
        &_small {
            width: 241px;
            margin-left: 10px;      
        }   
    }
    &__item {
        position: relative;
        padding-top: 100%;
        width: 100%;
        background: $gray-dark;
        &_marg {
            margin-bottom: 10px;
        }
    }
    &__content {
        @include content-small-item ($white);
        &_big {
            @include content-big-item;
        }
        &_scroll {
            overflow-y: scroll;        
        }  
    }               
}