.section-orange  {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 12.5px 10px 12.5px;
    &__horizontal {
        display: flex;
        flex-direction: column;
        max-width: 492px;
        width: 100%;

    }
    &__couple {
        display: flex;
        justify-content: space-between;
        padding: 10px 0 0 0;
    }
    &__small {
        max-width: 241px;
        width: 100%;
        height: 155px;
        background: $orange;
        &_marg {
            margin-right: 10px;
        }
        &_violet {
            background: $violet;
        }
    }
    &__large {
        display: flex;
        justify-content: space-between;
    }
    &__big {
        max-width: 492px;
        width: 100%;
        height: 155px;
        background: $orange;
    }

    &__vertical {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 241px;
        width: 100%;
        margin-right: 10px;
    }
    &__little {
        max-width: 241px;
        width: 100%;
        height: 155px;
        background: $orange;
        margin-right: 10px;
        &_red {
            background: $red;
        }
    }
    &__content {
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: 100%;
        padding: 15px;
        @include font;

    }
}